<nav class="navbar navbar-expand-lg navbar-light bg-light ui small secondary menu shadow-sm fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="item">

        <img src="assets/img/logo.png" style="height: 20px; width: 80px;" alt="">

    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">



        <a class="active item " href="index.html">
            <i class="home icon"></i> Home
        </a>
        <a class="item " href="#contact">
            <i class="mail icon"></i> Contact Us
        </a>
        <a class="item" routerLink="/take-quiz">
            <i class="keyboard icon"></i> Take Quiz
        </a>
        <a class="item ">
            <i class="tachometer alternate icon"></i>Blog
        </a>
        <a class="item ">
            <i class="tachometer alternate icon"></i> Dashboard
        </a>
        <div class="right menu ">
            <div class="item">
                <div class="ui icon input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
            </div>
            <div class="ui dropdown item">
                Help IOQ<i class="question circle icon"></i>

            </div>
            <div class="item" routerLink="/sign-in">

                <div class="ui primary button" *ngIf="!service.loggedIn()"> <i class="sign-in icon"></i>Login</div>
                <div class="ui primary button" *ngIf="service.loggedIn()" (click)="service.logoutUser()"> <i class="sign-out icon"></i>Logout</div>
            </div>
        </div>


    </div>



</nav>